@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');

:root{
    --primary-color: #FCD34D;
}
html,body{
    padding: 0 0 80px 0 ;
    margin: 0;
    font-family: 'Besley', 'serif';
    overflow-x: hidden;
    text-align: center;
}    

.banner{
    background-color: var(--primary-color);
    margin: auto;
    padding:30px;
    text-align: center;
    width: 100%;


}
.main{
    width:80%;
    padding:40px;
    margin: auto;

}
.textbox{
    display:block;
    width:80%;
    min-height: 80px;
    margin: auto;
    
}
.button{
    display: block;
    background-color: #FCD34D;
    padding: 10px;
    width: min-content;
    margin: 20px auto;
    cursor: pointer;
    font-family: 'Besley','serif';

}
header{
    display: block;
    font-size: 40px;
}
footer{
    position: fixed;
    font-size: 20px;
    bottom:0;

}
p{
    max-width: 70%;
    margin:auto;
    margin-block-start: 0;
    margin-block-end: 0;
}